.place-search .photon-input {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin-bottom: 0;
    width: 100px;
    padding: 4px;
}
.place-search .photon-input:focus {
    width: 300px;
}
.photon-autocomplete li.on {
    background-color: #2c3e50;
    cursor: pointer;
    color: #ecf0f1;
}
